@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --indigo: #667eea;
  --dark-indigo: #5a67d8;
  --darker-indigo: #4c51bf;
  --gray: #c3c5c7;
  --orange: #ff9e90;
  --black: #101820;
  --blackAlpha: #10182020;
  --white: #ffffff;
  --red: #ef6690;
  --spacing: 5rem;
}

.App {
  background-color: var(--indigo);
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: "Outfit", sans-serif;
}
.App .text {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  line-height: 1;
  font-variant-ligatures: normal;
}
.App h1 {
  font-size: 20vh;
  color: var(--white);
  line-height: 0.9;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: -2.7px;
  margin-bottom: 1rem;
  word-break: break-word;
}
.App h4 {
  font-size: 5vh;
  line-height: 0.9;
  color: var(--white);
  text-transform: capitalize;
  font-weight: 200;
      margin-bottom: 1rem;
      margin-left: 0.8rem;
}
.App .border {
  position: absolute;
  margin: var(--spacing);
  height: calc(100% - calc(var(--spacing) * 2));
  width: calc(100% - calc(var(--spacing) * 2));
  border: 1rem solid var(--white);
  z-index: 12;
}
.App .icon path {
  fill: var(--white);
}

.App .icon {
  margin: 2rem;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
  filter: grayscale(1) brightness(0.6);
  width: 100%;
  height: 100% !important;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: darken;
  opacity: 0.5;
  background-color: #ef6690;-webkit-mask-position-x: ;
  z-index: 1;
}

.container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: lighten;
  background-color: #4c51bf;
  opacity: 0.5;
  z-index: 1;
}

.shape-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.svg-shapes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100% !important;
}

.svg-shapes circle {
  fill: transparent;
  stroke: url(#bggrad);
  stroke-linecap: round;
  animation: bgmove 200s linear infinite;
  mix-blend-mode: overlay;
  opacity: 0.6;
}

@keyframes bgmove {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}
